.task-assign-section {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select, button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.btn-primary {
  background-color: #885fd5;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #5c3a9c;
  transition: 0.3s ease-in-out;
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-secondary {
  margin-top: 10px;
  background-color: #f9f9f9;
  color: #333;
  border: 2px solid #ccc;
}

.btn-secondary:hover {
  background-color: #e6e6e6;
  border-color: #bbb;
  color: #000;
  transition: 0.3s ease-in-out;
}
